body {
  background-image: url(../Images/fondo2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Carrusel */
.slide {
  margin-top: 10px;
}

.slide img {
  height: 45vh;
}

/* Card */
.row {
  max-width: 100%;
}

.card-img-top {
  height: 200px;
}
